---
import '../style/main.css';
import Test from '../assets/favicon.svg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
        <!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> ADD LOGO -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Melk Studio</title>
	</head>
	<body>
        <section class="center">
		    <h1>melk studio</h1>
            <p>
                Nous sommes un studio de design graphique et de direction 
                artistique fondé par Clémentine Fleck et Mélina Loiret, à la 
                suite de notre rencontre à l’École de Condé à Paris. Le 
                studio développe des identités visuelles, des éditions et 
                des projets numériques, nourris par une approche 
                collaborative et sensible aux récits, aux formes, aux 
                couleurs et aux matières. Nous avons notamment pu 
                collaborer avec des structures telles que le Carreau du 
                Temple et le festival We Love Green. 
                <br/>
                <br/>
                Le portfolio du studio est disponible sur demande par mail.
            </p>
            <h4>[Affiche] [Design éditorial] [Design graphique] [Direction artistique] [Identité visuelle] [Signalétique] [Typographie] [UX/UI design]</h4>
        </section>
        <footer>
            <Test class="svg-footer" />
            <a class="footer-component" href="" target="_blank">Contact</a>
            <a class="footer-component" href="https://www.instagram.com/melkstudio.pdf" target="_blank">Instagram</a>
            <a class="footer-component" href="https://www.behance.net/melk-studio" target="_blank">Behance</a>
        </footer>
    </body>
</html>
