@font-face {
    font-family: 'Dauphine';
    font-style: normal;
    font-weight: 400;
    src: local('Dauphine'), url('dauphine.woff2');
}

body {
    background-color: #000000;
    height: 100%;
    overflow-y: hidden;
}

h1 {
    text-align: left;
    font: normal normal normal 39px/47px Dauphine;
    letter-spacing: 0px;
    color: #ffffff;

    margin-top: 41px;
    margin-left: 75.91px;
}

p {
    width: 847px;

    text-align: left;
    font: normal normal normal 39px/47px Dauphine;
    letter-spacing: 0px;
    color: #685B6F;

    margin-top: 41px;
}

h4 {
    width: 297px;

    text-align: right;
    font: normal normal normal 39px/47px Dauphine;
    letter-spacing: 0px;
    color: #A7D4B9;

    margin-top: 41px;
    margin-right: 48px;
}

.center {
    display: flex;
    justify-content: space-between;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer-component {
    padding: 0px;
    text-decoration: none;

    font: normal normal normal 39px/47px Dauphine;
    letter-spacing: 0px;
    color: #A7D4B9;
}

.svg-footer{
    height: 319.07px;
    width: 236.32px;
}

.svg-footer path{
    fill: #685B6F;
}

.svg-footer path:hover{
    fill: #A7D4B9;
}